# Quicker navigation
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcut to edit /etc/hosts.
alias hosts='sudo vim /etc/hosts'

# Pretty greps
alias ls='ls --color=auto'
alias grep='grep --color=auto'

# Easier directory listings
alias ll='ls -alF'

alias sc-start='systemctl start'
alias sc-stop='systemctl stop'
alias sc-restart='systemctl restart'
alias sc-status='systemctl status'
