[user]
	name = hotline-emu
	email = james.galecki@traderinteractive.com
[core]
	excludesfile = /home/hotline-emu/.gitignore_global
	editor = vim
[alias]
	st = status
	rh = reset --hard
	rs = reset --soft HEAD~1
	bd = branch -D
	b = branch
	rv = remote -v
	ds = diff --stat --color
	fa = fetch --all
	c = checkout
	rev = rebase -v
	cm = commit -m
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
	ui = true
[pager]
	diff = false
	branch = false
